<h4>Portfolio</h4>
    <div class="col-sm">
        <div class="card" ;>
            <img class="card-img-top" src="img/1.jpeg" alt="card-1">
            <div class="card-body">
                <p class="card-text">GMO food</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" ;>
            <img class="card-img-top" src="img/3.jpeg" alt="card-2">
            <div class="card-body">
              <p class="card-text">GMO food</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" ;>
            <img height: 18rem; class="card-img-top " src="img/4.jpeg" alt="card-3">
            <div class="card-body ">
              <p class="card-text ">Money</p>
            </div>
        </div>
    </div>

     
    <div class="col-sm ">
        <div class="card ";>
            <img class="card-img-top " src="img/5.jpeg" alt="card-4">
            <div class="card-body ">
              <p class="card-text ">Coins</p>
            </div>
        </div>
    </div>
    <div class="col-sm ">
        <div class="card ";>
            <img class="card-img-top " src="img/6.jpeg" alt="card-5">
            <div class="card-body ">
              <p class="card-text ">Stop Gmo</p>
            </div> 
        </div>     
    </div>

    <div class="col-sm ">
        <div class="card " >
            <img  class="card-img-top " src="img/7.jpeg" alt="card-6">
             <div class="card-body ">
              <p class="card-text ">US Dollars</p>
             </div> 
        </div>
    </div>

